@model SaintForest.Models.Facturas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Facturas</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuarios.Nombres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuarios.Nombres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaFactura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaFactura)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalFactura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalFactura)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstadosDeLaFactura.EstadoFactura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstadosDeLaFactura.EstadoFactura)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SiNo.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SiNo.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
